{%- assign nav_prev_in   = page.nav.prev_in_collection  | default: nil -%}
{%- assign nav_next_in   = page.nav.next_in_collection  | default: nil -%}
{%- assign nav_prev_coll = page.nav.prev_collection     | default: nil -%}
{%- assign nav_next_coll = page.nav.next_collection     | default: nil -%}

<div class="edge-nav">
  {%- if nav_prev_in -%}
    <a class="edge edge-left" data-edge="left" href="{{ nav_prev_in | escape }}">
      <span class="arrow"></span>
    </a>
  {%- endif -%}

  {%- if nav_next_in -%}
    <a class="edge edge-right" data-edge="right" href="{{ nav_next_in | escape }}">
      <span class="arrow"></span>
    </a>
  {%- endif -%}

  {%- if nav_prev_coll -%}
    <a class="edge edge-top" data-edge="top" href="{{ nav_prev_coll | escape }}">
      <span class="arrow"></span>
    </a>
  {%- endif -%}

  {%- if nav_next_coll -%}
    <a class="edge edge-bottom" data-edge="bottom" href="{{ nav_next_coll | escape }}">
      <span class="arrow"></span>
    </a>
  {%- endif -%}
</div>
