{% assign coll = site[page.collection] %}
{% if coll %}
  {% assign sorted = coll | sort: 'slug' %}
  {% for item in sorted %}
    {% if item.url == page.url %}
      {% assign L = sorted[forloop.index0 | minus: 1] %}
      {% assign R = sorted[forloop.index0 | plus: 1] %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="edge-nav">
  {% if L %}
    <a class="edge edge-left" data-edge="left" href="{{ L.url }}">
      <span class="arrow"></span>
    </a>
  {% endif %}
  {% if R %}
    <a class="edge edge-right" data-edge="right" href="{{ R.url }}">
      <span class="arrow"></span>
    </a>
  {% endif %}
</div>
