#links-page {
  text-align: center;
  margin-top: 50px;
}

.page-title {
  font-size: 2.2em;
  margin-bottom: 0; /* tighter spacing */
}

.subtitle {
  font-size: 1.2em;
  color: #444;
  margin-top: 0; /* remove extra gap */
}

.social-list {
  list-style: none; /* removes bullets */
  padding: 0;
}

.social-list a {
  text-decoration: none; /* removes underline */
  color: #333;
}

.social-list li {
  margin: 15px 0;
}

.social-list a i {
  margin-right: 8px;
  font-size: 1.5em;
  vertical-align: middle;
}

.social-list a:hover {
  color: #0077b5; /* Example hover color */
}
